* {

    padding: 0;

    margin: 0;

}



.drap {

    width: 90%;

    padding-bottom: 90%;

    background: black;

    margin: 0 auto;

    margin-top: 10px;

}



.box {

    width: 30%;

    padding-bottom: 30%;

    margin: 1.6%;

    background: orange;

    float: left;

    border-radius: 5px

}
